/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 20px;
}

#logo-image {
    vertical-align: middle;
    height: 3rem;
    width: auto;

}

main {
    background-color: rgb(246, 248, 249);
    padding: 50px 0;
}

header > span {
    font-size: 2rem;
    font-weight: bold;
    vertical-align: middle;
    line-height: 3rem;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 0.3rem;
}

.top {
    padding: 20px 40px;
    border-bottom: 1px solid rgb(246, 248, 249);
}

h3 {
    margin: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.btn {
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
}

.sect {
    color: lightgray;
    background-color: white;
    border: 1px solid lightgray;
}

.circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    padding: 0.1rem;
    background-color: white;
    margin: 0 0.5rem 0 1.5rem;
}

.v {
    border: 1px solid rgb(132, 195, 176);
    color: rgb(132, 195, 176);
}

.x {
    border: 1px solid rgb(216, 88, 75);
    color: rgb(216, 88, 75);
}

green-v {
    color: rgb(132, 195, 176);
}

.task {
    padding: 0.3rem 0.6rem;
    color: white;
    font-size: 0.6rem;
    border-radius: 0.6rem;
}

.editorial {
    background-color: rgb(99, 171, 235);
    color: white;
    border: none;
}

.q1-goals {
    background-color: rgb(150, 116, 221);
}

.recruiting {
    background-color: rgb(123, 190, 170);
}

.mobile {
    background-color: rgb(230, 162, 75);
}

.website {
    background-color: rgb(199, 101, 156);
}

.sales {
    background-color: rgb(181, 200, 73);
}
